# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Cache
# ==========================
.cache/

# ==========================
# Temporary Uploads
# ==========================
assets/uploads/tmp/

# ==========================
# Composer
# ==========================
vendor/

# ==========================
# macOS
# ==========================
.DS_Store