# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Log Files
# ==========================
*.log

# ==========================
# Cache
# ==========================
.cache/

# ==========================
# Temporary Upload
# ==========================
assets/uploads/tmp/

# ==========================
# Composer
# ==========================
vendor/